Repository FirstianB101/reciptopia-server, pull requests merged in 2022-03, with the labels that each got.

#48 Ingredient 엔티티로 승격
  src/main/java/kr/reciptopia/reciptopiaserver/domain/model/Ingredient.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/model/MainIngredient.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/model/SubIngredient.java
Labels: domain

#49 Step 엔티티 추가
  src/main/java/kr/reciptopia/reciptopiaserver/domain/model/Step.java
Labels: domain

#51 SearchHistoryDto 추가
  src/main/java/kr/reciptopia/reciptopiaserver/domain/dto/CommentDto.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/dto/FavoriteDto.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/dto/SearchHistoryDto.java
Labels: implementation

#59 Step, LikeTag, Ingredient에 누락된 TimeEntity 상속 추가
  src/main/java/kr/reciptopia/reciptopiaserver/domain/model/Ingredient.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/model/LikeTag.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/model/Step.java
Labels: bug, domain

#60 Dto.of 메소드 리펙토링
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/AuthTokenService.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/dto/AccountDto.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/dto/CommentDto.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/dto/FavoriteDto.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/dto/SearchHistoryDto.java
Labels: invalid

#69 lombok.config 추가
  src/main/java/kr/lombok.config
  src/test/java/kr/lombok.config
Labels: bug

#71 Post 리소스 API 구현 및 API 문서 추가
  src/docs/asciidoc/api-guide.adoc
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/PostService.java
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/helper/RepositoryHelper.java
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/spec/PostSpecs.java
  src/main/java/kr/reciptopia/reciptopiaserver/controller/PostController.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/dto/PostDto.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/model/Post.java
  src/main/java/kr/reciptopia/reciptopiaserver/persistence/repository/PostRepository.java
  src/test/java/kr/reciptopia/reciptopiaserver/PostIntegrationTest.java
  src/test/java/kr/reciptopia/reciptopiaserver/helper/EntityHelper.java
  src/test/java/kr/reciptopia/reciptopiaserver/helper/PostHelper.java
Labels: documentation, implementation, domain, test

#72 Recipe 엔티티의 누락된 Builder와 관계 편의 메소드 추가
  src/main/java/kr/reciptopia/reciptopiaserver/domain/model/Recipe.java
Labels: bug, domain

#79 PostDto에 record, Singular 어노테이션 적용
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/PostService.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/dto/PostDto.java
  src/test/java/kr/reciptopia/reciptopiaserver/PostIntegrationTest.java
Labels: domain, refactoring

#80 json 관련 작업을 도와주는 jsonHelper 추가
  src/test/java/kr/reciptopia/reciptopiaserver/AccountIntegrationTest.java
  src/test/java/kr/reciptopia/reciptopiaserver/AuthIntegrationTest.java
  src/test/java/kr/reciptopia/reciptopiaserver/PostIntegrationTest.java
  src/test/java/kr/reciptopia/reciptopiaserver/helper/JsonHelper.java
Labels: enhancement, test, refactoring
