Repository FirstianB101/reciptopia-server, pull requests merged in 2022-05, with the labels that each got.

#132 Post 조건 검색 API 추가
  src/docs/asciidoc/api-guide.adoc
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/PostService.java
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/spec/searchcondition/PostSearchCondition.java
  src/main/java/kr/reciptopia/reciptopiaserver/controller/PostController.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/dto/PostDto.java
  src/main/java/kr/reciptopia/reciptopiaserver/persistence/repository/custom/PostRepositoryCustom.java
  src/main/java/kr/reciptopia/reciptopiaserver/persistence/repository/implementaion/PostRepositoryImpl.java
  src/test/java/kr/reciptopia/reciptopiaserver/PostIntegrationTest.java
Labels: documentation, implementation, test, refactoring

#134 Comment 조건 검색 API 추가
  src/docs/asciidoc/api-guide.adoc
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/CommentService.java
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/spec/CommentSpecs.java
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/spec/PostSpecs.java
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/spec/searchcondition/CommentSearchCondition.java
  src/main/java/kr/reciptopia/reciptopiaserver/controller/CommentController.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/dto/CommentDto.java
  src/main/java/kr/reciptopia/reciptopiaserver/persistence/repository/custom/CommentRepositoryCustom.java
  src/main/java/kr/reciptopia/reciptopiaserver/persistence/repository/implementaion/CommentRepositoryImpl.java
  src/test/java/kr/reciptopia/reciptopiaserver/CommentIntegrationTest.java
Labels: documentation, implementation, test, refactoring

#141 Post API 테스트 케이스 추가
  src/test/java/kr/reciptopia/reciptopiaserver/PostIntegrationTest.java
Labels: test

#144 Gradle 문제 수정 및 DB 변경
  build.gradle
  src/main/resources/application.yml
Labels: bug, refactoring

#145 Gradle의 Build시 asciidoctor가 동작하지 않은 문제 해결
  build.gradle
Labels: bug, documentation

#146 MainIngredient API 목록 검색 테스트 추가
  src/test/java/kr/reciptopia/reciptopiaserver/MainIngredientIntegrationTest.java
Labels: test

#150 API 문서가 제대로 나오지 않는 문제 해결
  build.gradle
Labels: bug, documentation, refactoring

#158 AccountProfileImg API 구현 및 API 문서 추가
  src/docs/asciidoc/api-guide.adoc
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/AccountProfileImgService.java
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/authorizer/UploadFileAuthorizer.java
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/filestore/FileStore.java
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/helper/RepositoryHelper.java
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/searchcondition/AccountProfileImgSearchCondition.java
  src/main/java/kr/reciptopia/reciptopiaserver/controller/AccountProfileImgController.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/dto/AccountProfileImgDto.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/model/AccountProfileImg.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/model/UploadFile.java
  src/main/java/kr/reciptopia/reciptopiaserver/persistence/repository/AccountProfileImgRepository.java
  src/main/java/kr/reciptopia/reciptopiaserver/persistence/repository/custom/AccountProfileImgRepositoryCustom.java
  src/main/java/kr/reciptopia/reciptopiaserver/persistence/repository/implementaion/AccountProfileImgRepositoryImpl.java
  src/main/resources/application.yml
  src/test/java/kr/reciptopia/reciptopiaserver/AccountProfileImgIntegrationTest.java
  src/test/java/kr/reciptopia/reciptopiaserver/helper/AccountProfileImgHelper.java
  src/test/java/kr/reciptopia/reciptopiaserver/helper/EntityHelper.java
  src/test/java/kr/reciptopia/reciptopiaserver/helper/auth/UploadFileAuthHelper.java
  src/test/java/kr/reciptopia/reciptopiaserver/helper/auth/error/exception/UploadFileInvalidTypeException.java
  src/test/resources/application.yml
  src/test/resources/testfiles/source/testProfileImg.png
  src/test/resources/testfiles/source/testProfileImg2.png
  src/test/resources/testfiles/source/testText.txt
  src/test/resources/testfiles/uploaded/634f963f-b61d-414b-b35b-57ab90533d36.png
Labels: documentation, implementation, domain, test

#159 Account 연관관계 테스트 추가
  src/test/java/kr/reciptopia/reciptopiaserver/AccountIntegrationTest.java
Labels: test
