Repository FirstianB101/reciptopia-server, pull requests merged in 2022-04, with the labels that each got.

#81 Comment 리소스 API 구현 및 API 문서 추가
  src/docs/asciidoc/api-guide.adoc
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/CommentService.java
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/helper/RepositoryHelper.java
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/spec/CommentSpecs.java
  src/main/java/kr/reciptopia/reciptopiaserver/controller/CommentController.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/dto/CommentDto.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/model/Comment.java
  src/main/java/kr/reciptopia/reciptopiaserver/persistence/repository/CommentRepository.java
  src/test/java/kr/reciptopia/reciptopiaserver/CommentIntegrationTest.java
  src/test/java/kr/reciptopia/reciptopiaserver/helper/CommentHelper.java
  src/test/java/kr/reciptopia/reciptopiaserver/helper/EntityHelper.java
Labels: documentation, implementation, domain, test

#86 Authorizer 세분화
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/AccountService.java
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/CommentService.java
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/PostService.java
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/authorizer/AbstractAuthorizer.java
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/authorizer/AccountAuthorizer.java
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/authorizer/CommentAuthorizer.java
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/authorizer/IngredientAuthorizer.java
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/authorizer/PostAuthorizer.java
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/authorizer/RecipeAuthorizer.java
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/authorizer/StepAuthorizer.java
Labels: enhancement, refactoring

#87 AuthHelper 세분화
  src/test/java/kr/reciptopia/reciptopiaserver/AccountIntegrationTest.java
  src/test/java/kr/reciptopia/reciptopiaserver/CommentIntegrationTest.java
  src/test/java/kr/reciptopia/reciptopiaserver/PostIntegrationTest.java
  src/test/java/kr/reciptopia/reciptopiaserver/helper/MainIngredientHelper.java
  src/test/java/kr/reciptopia/reciptopiaserver/helper/auth/AccountAuthHelper.java
  src/test/java/kr/reciptopia/reciptopiaserver/helper/auth/AuthHelper.java
  src/test/java/kr/reciptopia/reciptopiaserver/helper/auth/CommentAuthHelper.java
  src/test/java/kr/reciptopia/reciptopiaserver/helper/auth/PostAuthHelper.java
  src/test/java/kr/reciptopia/reciptopiaserver/helper/auth/RecipeAuthHelper.java
  src/test/java/kr/reciptopia/reciptopiaserver/helper/auth/StepAuthHelper.java
Labels: enhancement, refactoring

#92 with메소드 수정
  src/main/java/kr/reciptopia/reciptopiaserver/domain/model/Account.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/model/Ingredient.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/model/MainIngredient.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/model/Post.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/model/SubIngredient.java
Labels: bug, invalid, test, refactoring

#102 Reply 리소스 API 구현 및 API 문서 추가
  src/docs/asciidoc/api-guide.adoc
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/ReplyService.java
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/authorizer/ReplyAuthorizer.java
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/helper/RepositoryHelper.java
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/spec/ReplySpecs.java
  src/main/java/kr/reciptopia/reciptopiaserver/controller/ReplyController.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/dto/ReplyDto.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/model/Reply.java
  src/main/java/kr/reciptopia/reciptopiaserver/persistence/repository/ReplyRepository.java
  src/test/java/kr/reciptopia/reciptopiaserver/ReplyIntegrationTest.java
  src/test/java/kr/reciptopia/reciptopiaserver/helper/EntityHelper.java
  src/test/java/kr/reciptopia/reciptopiaserver/helper/ReplyHelper.java
  src/test/java/kr/reciptopia/reciptopiaserver/helper/auth/ReplyAuthHelper.java
Labels: documentation, implementation, domain, test

#107 CommentDto.Result의 적절하지 않은 필드 삭제
  src/main/java/kr/reciptopia/reciptopiaserver/controller/CommentController.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/dto/CommentDto.java
  src/test/java/kr/reciptopia/reciptopiaserver/CommentIntegrationTest.java
Labels: documentation, invalid, domain, test, refactoring

#109 통합테스트 테스트 수정
  src/main/java/kr/reciptopia/reciptopiaserver/domain/model/Comment.java
  src/test/java/kr/reciptopia/reciptopiaserver/AccountIntegrationTest.java
  src/test/java/kr/reciptopia/reciptopiaserver/MainIngredientIntegrationTest.java
  src/test/java/kr/reciptopia/reciptopiaserver/PostIntegrationTest.java
  src/test/java/kr/reciptopia/reciptopiaserver/RecipeIntegrationTest.java
  src/test/java/kr/reciptopia/reciptopiaserver/ReplyIntegrationTest.java
  src/test/java/kr/reciptopia/reciptopiaserver/StepIntegrationTest.java
  src/test/java/kr/reciptopia/reciptopiaserver/SubIngredientIntegrationTest.java
Labels: enhancement, invalid, test, refactoring

#111 Reply API 통합 테스트 항목 추가
  src/test/java/kr/reciptopia/reciptopiaserver/ReplyIntegrationTest.java
Labels: test

#115 PostLikeTag 리소스 API 구현 및 API 문서 추가
  src/docs/asciidoc/api-guide.adoc
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/PostLikeTagService.java
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/authorizer/LikeTagAuthorizer.java
  src/main/java/kr/reciptopia/reciptopiaserver/business/service/helper/RepositoryHelper.java
  src/main/java/kr/reciptopia/reciptopiaserver/controller/PostLikeTagController.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/dto/PostLikeTagDto.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/model/LikeTag.java
  src/main/java/kr/reciptopia/reciptopiaserver/domain/model/PostLikeTag.java
  src/main/java/kr/reciptopia/reciptopiaserver/persistence/repository/PostLikeTagRepository.java
  src/test/java/kr/reciptopia/reciptopiaserver/PostLikeTagIntegrationTest.java
  src/test/java/kr/reciptopia/reciptopiaserver/helper/EntityHelper.java
  src/test/java/kr/reciptopia/reciptopiaserver/helper/PostLikeTagHelper.java
  src/test/java/kr/reciptopia/reciptopiaserver/helper/auth/LikeTagAuthHelper.java
Labels: documentation, implementation, domain, test

#116 Post API 테스트 추가
  src/test/java/kr/reciptopia/reciptopiaserver/PostIntegrationTest.java
Labels: test

#120 Post API 통합 테스트 항목 추가
  src/test/java/kr/reciptopia/reciptopiaserver/PostIntegrationTest.java
Labels: test

#121 Recipe API 통합 테스트 항목 추가
  src/test/java/kr/reciptopia/reciptopiaserver/RecipeIntegrationTest.java
Labels: test

#126 Account API 테스트 추가
  src/test/java/kr/reciptopia/reciptopiaserver/AccountIntegrationTest.java
Labels: test

#127 Reply API 테스트 추가
  src/test/java/kr/reciptopia/reciptopiaserver/ReplyIntegrationTest.java
Labels: test

#128 Comment API 테스트 항목 추가
  src/test/java/kr/reciptopia/reciptopiaserver/CommentIntegrationTest.java
Labels: test

#129 Post API 테스트 항목 추가
  src/test/java/kr/reciptopia/reciptopiaserver/PostIntegrationTest.java
Labels: test
